<shop-carousel-items [items]="items"></shop-carousel-items>

<app-product-category-list
  class="text-center"
  *ngIf="listOne"
  [title]="'Tenis de Mujer'"
  [productsList]="listOne"
  [selectCurrency]="selectCurrency"
></app-product-category-list>

<app-product-category-list
  class="text-center"
  *ngIf="listTwo"
  [title]="'Tenis de Hombre'"
  [productsList]="listTwo"
  [selectCurrency]="selectCurrency"
></app-product-category-list>

<app-product-category-list
  class="text-center"
  *ngIf="listthree"
  [title]="'Tenis mas Economicos'"
  [productsList]="listthree"
  [selectCurrency]="selectCurrency"
></app-product-category-list>
