<footer>
  <hr />
  <div class="container text-center">
    <address>
      <p>
        !!Vicky Store 2023 - !La mejor store de mexico con los mejos precios!!
      </p>
      <p>
        Monterrey Nuevo Leon Tel:81 19 39 61 18 - Contacto
        servicioalcliente.mx
        <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="router-link-active"
          >contacta con nosotros</a
        >
      </p>
    </address>
    <ul class="social nav justify-content-center">
      <li>
        <a href="https://youtube.com/" target="_blank">
          <img src="/assets/img/logos/icons/youtube.png" />
        </a>
      </li>
      <li>
        <a href="https://facebook.com/vikystoresale" target="_blank">
          <img src="/assets/img/logos/icons/facebook.png" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/vikystoresale" target="_blank">
          <img src="/assets/img/logos/icons/twitter.png" />
        </a>
      </li>
    </ul>
  </div>
</footer>
