<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-success"
        (click)="manageAction('add', '')"
      >
        <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp; Añadir
      </button>
    </div>
  </div>
</div>
<hr />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of tableColumns">
          {{ column.label }}
        </th>
        <th scope="col">Gestionar informacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <td *ngFor="let val of tableColumns">{{ data[val.property] }}</td>
        <td>
          <button
            type="button"
            class="btn btn-secondary m-1"
            (click)="manageAction('edit', data)"
          >
            <i class="fas fa-edit"></i></button
          >&nbsp;
          <button
            type="button"
            class="btn btn-info m-1"
            (click)="manageAction('info', data)"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger m-1"
            (click)="manageAction('lock', data)"
          >
            <i class="fa fa-lock" aria-hidden="true"></i></button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between p-2" *ngIf="infoPage.pages > 1">
  <ngb-pagination
    [collectionSize]="infoPage.total"
    [(page)]="infoPage.page"
    (pageChange)="changePage()"
    [pageSize]="infoPage.itemsPage"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    name="pageSize"
    [(ngModel)]="infoPage.itemsPage"
    (ngModelChange)="loadData()"
  >
    <option [ngValue]="3">3 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="12">20 items per page</option>
  </select>
</div> -->

<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-3">
      <select
        class="form-select mr-3 mb-2"
        style="width: auto"
        (ngModelChange)="loadData()"
      >
        <option [ngValue]="'ALL'">Todos</option>
        <option [ngValue]="'ACTIVE'">Activos</option>
        <option [ngValue]="'INACTIVE'">Inactivos</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="manageAction('add', '')">
        <i class="fas fa-plus-circle"></i> &nbsp; Añadir
      </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let columns of tableColumns">
          {{ columns.label }}
        </th>

        <th scope="col">Gestionar Informacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <td *ngFor="let val of tableColumns">
          <span *ngIf="val.property != 'active'; else activeValue">
            {{ data[val.property] }}
          </span>
          <ng-template #activeValue
            ><span *ngIf="data[val.property] == true"
              ><i class="fa fa-check-circle" aria-hidden="true"></i>
            </span>
            <span *ngIf="data[val.property] != true"
              ><i class="fa fa-times-circle" aria-hidden="true"></i
            ></span>
          </ng-template>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="manageAction('edit', data)"
          >
            <i class="fas fa-edit"></i></button
          >&nbsp;
          <button
            type="button"
            class="btn btn-info"
            (click)="manageAction('info', data)"
          >
            <i class="fas fa-info"></i></button
          >&nbsp;
          <button
            type="button"
            class="btn btn-danger"
            (click)="manageAction('block', data)"
            *ngIf="data['active'] != false; else unblockBtn"
          >
            <i class="fas fa-lock"></i>
          </button>
          <ng-template #unblockBtn>
            <button
              type="button"
              class="btn btn-danger"
              (click)="manageAction('unblock', data)"
            >
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="infoPage.total"
    [(page)]="infoPage.page"
    (pageChange)="changePage()"
    [pageSize]="infoPage.itemsPage"
  >
  </ngb-pagination>
  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="infoPage.itemsPage"
    (ngModelChange)="loadData()"
  >
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
