<button
  type="button"
  class="btn btn-warning mt-3 sticky-top float-right"
  routerLink="/#/"
>
  Inicio
</button>

<div class="container-fluid" *ngIf="infoPage && !loading">
  <app-product-category-list
    [title]="tiendaPageInfo.title"
    [productsList]="productsList"
    [description]="tiendaPageInfo.description"
  ></app-product-category-list>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="infoPage.total"
      [(page)]="slectPage"
      (pageChange)="loadData()"
      [pageSize]="infoPage.itemsPage"
    >
    </ngb-pagination>
    <select
      class="form-select"
      style="width: auto"
      [(ngModel)]="infoPage.itemsPage"
      (ngModelChange)="loadData()"
    >
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>
</div>
